.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.header{
  display: flex;
}

.header-search-name{
  width: 19%;
}

.header-search{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 40px;
}

.header-search input{
  width: 60%;
  border-radius: 5px;
}

.header-search select{
  width: 17%;
  height: 39px;
  margin-left: 5px;
  border-radius: 5px;
}


.header-search button{
  width: 20%;
  margin-left: 5px;
  border-radius: 5px;
}

.header-search button:hover{
  background-color: antiquewhite;
}

.sort-select {
  margin-right: 5px;
  padding: 5px;
}

.sort-icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

